@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

body {
  margin: 0;
  font-family: Lexend;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input::placeholder {
  font-family:Lexend ;
  font-size: 20px;
  color: rgba(181, 181, 181, 1);
}
textarea::placeholder {
  font-family:Lexend ;
  font-size: 14px;
  color: rgba(181, 181, 181, 1);
}
.rs-input::placeholder {
  font-family:Lexend ;
  font-size: 13px;
  color: rgba(181, 181, 181, 1);
}

.placement-bottom-start{
  z-index: 10000 !important;
}